{% extends 'base.html.twig' %}

{% block title %} {{parent()}} {% endblock %}
{% block stylesheets %} {{ parent() }} {% endblock %}

{% block body %} {{ parent() }} {% endblock %}
{% block content %}

    <!-- Contact Section -->
  <div style='background-color: #1abc9c;margin:auto;padding:5%;'>
  <section class=" jumbotron page-section" id="contact"  style='margin:auto;'>
    <div class="container">

      <!-- Contact Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Registrar usuario</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Contact Section Form -->
      <div class="row">
        <div class="col-lg-9 mx-auto">
          <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
          <div class="section">
              <div class="row">
                <div class="col-md-12 mb-4 order-2">
                  <form action="#" method="post">
                    <div class="row">
                      <div class="col-md-6 form-group">
                        <label for="name">Nombre de usuario</label>
                        <input type="text" id="name" class="form-control " required>
                      </div>
                       <div class="col-md-6 form-group">
                        <label for="name">Mail</label>
                        <input type="text" id="name" class="form-control " required>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                          <label for="name">Contraseña</label>
                          <input type="text" id="name" class="form-control " required>
                        </div>
                        <div class="col-md-6 form-group">
                          <label for="phone">Repetir contraseña</label>
                          <input type="text" id="phone" class="form-control " required>
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6 form-group">
                            <label for="name">Nombre</label>
                            <input type="text" id="name" class="form-control " required>
                          </div>
                          <div class="col-md-6 form-group">
                            <label for="phone">Apellido</label>
                            <input type="text" id="phone" class="form-control " required>
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                              <label for="name">Telefono</label>
                              <input type="text" id="name" class="form-control " >
                            </div>
                            <div class="col-md-6 form-group">
                              <label for="phone">Foto</label>
                              <input type="text" id="phone" class="form-control ">
                            </div>
                          </div>
                            <div class="row">
                              <div class="col-md-12 form-group">
                                <label for="message">Descripcion</label>
                                <textarea name="message" id="message" class="form-control " cols="30" rows="3" required></textarea>
                              </div>      
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                  <label for="name">Foto</label><br>
                                  <input type="file" id="name" class=" " >
                                </div>
                            </div>                    
                    <div class="row">
                      <div class="col-md-6 form-group">
                        <input type="submit" value="Enviar Solicitud" class="btn btn-primary px-3 py-3">
                        <input type="reset" value="Cancelar" class="btn btn-primary px-3 py-3">
                      </div>
                      
                    </div>
                  </form>
                
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  </div>

  
{% endblock %}

{% block javascripts %}
  {{ parent() }}      
{% endblock %} 

