{% extends "tablaLayout.html" %}

{% set encabezado = 'Listado de comedores'  %}

{% block cuerpo %}

<div class="container">
        <br>
        <div class="table-responsive">
        <select id="select">
          <option>ID</option>
          <option>Nombre</option>
          <option>Apellido</option>
          <option>DNI</option>
          <option>Estado</option>
        </select>
        <table id="example" class="table table-striped table-bordered table-sm dt-responsive">
          <thead>
            <tr>
              <th class="th-sm">ID</th>
              <th class="th-sm">Nombre</th>
              <th class="th-sm">Apellido</th>
              <th class="th-sm">Nombre usuario</th>
              <th class="th-sm">Mail</th>
              <th class="th-sm">Ver perfil</th>
              {% if session['rol'] == '3'%}
              <th class="th-sm">Eliminar</th>
              {%endif%}
            </tr>
          </thead>
          <tbody>
            {% for elem in come %}
            <tr>
              <td>{{elem.id}}</td>
              <td>{{elem.nombre}}</td>
              <td>{{elem.nombre_u}}</td>
              <td>{{elem.apellido}}</td>
              <td>{{elem.direccion}}</td>
              <td align="center"><button style="width:85px" type="button" class="btn btn-success" onclick="window.location.href='{{ url_for( 'comedor_profile' , idComedor=elem.id) }}';">Ver</button></td>
              {% if session['rol'] == '3'%}
              <td align="center"><button type="button" class="btn btn-danger" onclick="validateForm('{{ url_for( 'delete_com' , idComedor=elem.id) }}')">Eliminar</button></td>
              {%endif%}
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
        </div>
        
  <br>    
{% endblock %}

{% block scripts %} {{super()}}

{% block verificarAlerta %}
  {{ super() }}
  <script>
      function validateForm(path){
        var ok=false
          $.confirm({
            type:'red',
            title: 'Eliminar comedor',
            content: 'Desea comedor el registro definitivamente?' ,
            buttons: {
                Confirmar: function () {                
                  window.location.href=path
                },
                Cancelar: function () {
                  null
                },
            }
        })     
        return ok
        }
  </script>
 
{% endblock %}
{% endblock %}   





