{% extends "layout.html" %}

{% set encabezado = 'Crear Noticia'  %}
{% block cuerpo %}

    <!-- Contact Section -->
    <div class="container">
    
        <!-- Contact Section Form -->
        <div class="row">
          <div class="col-lg-9 mx-auto">
            <div class="card">
            <div style="border-width:2px !important;" class="card-body text-center border border-secondary">
            <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <div class="row">
                  <div class="col-md-12 mb-4 order-2">
                     <form id='formNoticia' action="{{ url_for('create_noticia') }}" method="post" enctype="multipart/form-data">
                          <div class="row">
                              <div class="col-md-12 form-group">
                                <label for="titulo">Titulo</label>
                                <input type="text" id="titulo" name="titulo" class="form-control " required maxlength="24">
                              </div>
                            </div>
                             <div class="row">
                          <div class="col-md-12 form-group">
                            <label for="descripcion">Descripcion</label>
                            <textarea class="form-control" name="descripcion" id="descripcion" rows="3" required></textarea>
                          </div>   
                        </div>
                         <div class="row">
                              <div class="col-md-12 form-group">
                                <label for="foto">Foto</label>
                                <input type="file" id="foto" name="file" class="form-control " maxlength="24">
                              </div>
                            </div>              
                                          
                        <div class="row">
                          <div class="col-md-3">
                            
                          </div>
                          <div class="col-md-6 form-group">
                            <input type="button" onclick="return validateForm()" value="Registrar" class="btn btn-primary px-3 py-2">
                          </div>
                          <div class="col-md-3">
                            
                          </div>                         
                        </div>
                      </form>
                  
                    
                  </div>
                </div>
            </div>
          </div>
            </div>
          </div>
        </div>
      </div>

    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->

      

{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script>

      
    function validateForm(){
      ok= true
      if(document.getElementById('titulo').value == ''){ ok =false }
      if(document.getElementById('descripcion').value == ''){ ok =false }
      $.confirm({
        type:'green',
        title: 'Guardar cambios',
        content: 'Seguro desea guardar los cambios realizados?' ,
        buttons: {
            Confirmar: function () {                
              if (ok){document.getElementById("formNoticia").submit();}
              else{
                $.alert({
                  title: 'Error',
                  content: 'Debe ingresar un titulo y descripcion!',
                  type: 'red',
                 });
              }
            },
            Cancelar: function () {
              null
            },
        }
    })     
    return false
  }

    </script>
{% endblock %}        




