{% extends "layout.html" %}

{% set encabezado = 'Crear Necesidad'  %}
{% block cuerpo %}
    <!-- Contact Section -->
    <div class="container">
    
        <!-- Contact Section Form -->
        <div class="row">
          <div class="col-lg-9 mx-auto">
            <div class="card">
            <div style="border-width:2px !important;" class="card-body text-center border border-secondary">
            <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <div class="row">
                  <div class="col-md-12 mb-4 order-2">
                    <form id='form' action="{{ url_for('create_necesidad')}}" method="post">
                        <div class="row">
                            <div class="col-md-6 form-group">
                              {% if (session['rol'] == '3') %}
                                    <label for="desc">A. Alimentario:</label>
                                      <select id="comedor" name="comedor" class="form-control" name="idc" required>
                                        <option value="">Seleccione un A. Alimentario</option>
                                        {% for elem in comedores %}
                                        <option value="{{ elem.id}}"  selected>{{elem.nombre}}</option>
                                        {% endfor %}
                                      </select>
                              
                              {% else %}
                                <input type="hidden" id="comedor" name="comedor" value="{{session['idComedor']}}">
                              {% endif %}
                            </div>
                            <div class="col-md-{% if (session['rol'] == '3') %}6 {% else %}12 {% endif%} form-group">
                                <label for="name">Tipo de necesidad: </label>
                                <select class="form-control" name="tipo" id="nec">
                                    <option value="" selected>Seleccione una necesidad</option>
                                  {% for elem in tipo_necesidades %}
                                  <option value="{{ elem.id}}"  >{{elem.nombre|upper}}</option>
                                  {% endfor %}
                                </select>                 
                             </div>
                          </div>
                      <div class="row">
                         <div class="col-md-12 form-group">
                            <textarea class="form-control" name="desc" id="desc" rows="2" placeholder="Contanos acerca de la necesidad del comedor." required></textarea  >
                        </div>
                        
                      </div>
                  
                      <div class="row">
                        <div class="col-md-3">
                          
                        </div>
                        <div class="col-md-6 form-group">
                          <input type="button" onclick="return validateForm()" value="Crear necesidad" class="btn btn-primary px-3 py-2">
                        </div>                       
                      </div>
                    </form>
                  
                    
                  </div>
                </div>
            </div>
          </div>
            </div>
          </div>
        </div>
      </div>

    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->

      

{% endblock %}

{% block scripts %}
    {{super()}} 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script>
        function validateForm(){
          ok=''
          if(document.getElementById('comedor').value == ''){ ok ='Debe ingresar un comedor' }          
          if(document.getElementById('nec').value == ''){ ok ='Debe ingresar una necesidad' }
          if(document.getElementById('desc').value == ''){ ok ='Debe ingresar una descripción' }
          $.confirm({
            type:'green',
            title: 'Crear necesidad',
            content: 'Seguro que desea crear una necesidad?' ,
            buttons: {
                Confirmar: function () {                
                  if (ok == ''){document.getElementById("form").submit();}
                  else{
                    $.alert({
                    title: 'Error',
                    content: ok,
                    type: 'red',
                    });
                  }
                },
                Cancelar: function () {
                  null
                },
            }
        })     
        return false
      }

    </script>
{% endblock %}        




