{% extends "layout.html" %}

{% set encabezado = 'Crear Evento'  %}
{% block cuerpo %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}


    <!-- Contact Section -->
    <div class="container">
    
        <!-- Contact Section Form -->
        <div class="row">
          <div class="col-lg-9 mx-auto">
            <div class="card">
            <div style="border-width:2px !important;" class="card-body text-center border border-secondary">
            <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <div class="row">
                  <div class="col-md-12 mb-4 order-2">
                     <form id='formEvento' action="{{ url_for('create_evento') }}" method="post">
                          <div class="row">
                              <div class="col-md-12 form-group">
                                <label for="titulo">Titulo</label>
                                <input type="text" id="titulo" name="titulo" class="form-control " required maxlength="24">
                              </div>
                            </div>
                             <div class="row">
                          <div class="col-md-12 form-group">
                            <label for="descripcion">Descripcion</label>
                            <textarea class="form-control" name="descripcion" id="descripcion" rows="3" required></textarea>
                          </div>   
                        </div>
                        <div class="row">
                          <div class="col-md-6 form-group">
                            <label for="fecha_evento">Fecha del evento</label>
                            <input class="form-control" type="text" name="fecha_evento" value="" id="fecha"/>  
                          </div>
                         <div class="col-md-6 form-group">
                                <label for="horario">Hora</label>
                                <input type="text" name="horario" id="horario" class="form-control " required maxlength="24">
                              </div>
                        </div>                      
                                          
                        <div class="row">
                          <div class="col-md-3">
                            
                          </div>
                          <div class="col-md-6 form-group">
                            <input type="button" onclick="return validateForm()" value="Registrar" class="btn btn-primary px-3 py-2">
                          </div>
                          <div class="col-md-3">
                            
                          </div>                         
                        </div>
                      </form>
                  
                    
                  </div>
                </div>
            </div>
          </div>
            </div>
          </div>
        </div>
      </div>

    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->

      

{% endblock %}

{% block scripts %}
    {{super()}}
        
  
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script> 
 <script>
      function validateForm(){
        ok=''
        if(document.getElementById('titulo').value == ''){ ok ='Debe ingresar un titulo' }
        if(document.getElementById('descripcion').value == ''){ ok ='Debe ingresar una descripcion' }
        if(document.getElementById('fecha').value == 0000-00-00){ ok = 'Debe ingresar una fecha valida' }
        if(document.getElementById('horario').value == ''){ ok ='Debe ingresar un horario' }
        $.confirm({
          type:'green',
          title: 'Crear evento',
          content: 'Seguro desea crear un evento?' ,
          buttons: {
              Confirmar: function () {                
                if (ok == ''){document.getElementById("formEvento").submit();}
                else{
                  $.alert({
                  title: 'Error',
                  content: ok,
                  type: 'red',
                  });
                }
              },
              Cancelar: function () {
                null
              },
          }
      })     
      return false
    }

  </script>
<script>
  $(function() {
    $('input[name="fecha_evento"]').daterangepicker({
      singleDatePicker: true,
      showDropdowns: true,
      minDate: moment(),
      locale: {
            format: 'DD/MM/YYYY'
        },
      startDate: moment(),

    }, );
  });
</script>
    
{% endblock %}      




