{% extends "tablaLayout.html" %}

{% set encabezado = 'Editar Noticia'  %} 

{% block styles %}
    {{ super() }}
{% endblock %}

{% block cuerpo %}
    <!-- Contact Section -->

    <div class="container">
        <!-- Contact Section Form -->
        <div class="row">
          <div class="col-lg-9 mx-auto">
            <div class="card">
            <div style="border-width:2px !important;" class="card-body text-center border border-secondary">

                <div class="row">
                  <div class="col-md-12 mb-4 order-2">
                    <form id='formNoticia' action="{{ url_for('editando_noticia') }}" method="post" enctype="multipart/form-data">
                          <div class="row">
                              <div class="col-md-6 form-group">
                                <label for="titulo">Título</label>
                                <input value="{{ noticia.titulo }}" type="text" id="titulo" name="titulo" class="form-control " required maxlength="24">
                              </div>
                              <div class="col-md-6 form-group">
                                <label for="fecha">Fecha</label>
                                <input value="{{ noticia.fecha }}" type="date" id="fecha" name="fecha" class="form-control " required maxlength="24">
                              </div>
                            </div>
                             <div class="row">
                          <div class="col-md-12 form-group">
                            <label for="descripcion">Descripción</label>
                            <textarea class="form-control" name="descripcion" id="descripcion" rows="3" required>{{ noticia.descripcion }}</textarea>
                          </div>   
                        </div>
                         <div class="row">
                              <div class="col-md-12 form-group">
                                <label for="foto">Foto (opcional)</label>
                                <br>
                                {% if noticia.foto != '' %}
                                  <img style="height: 350px;width:80%;padding-bottom:20px;" src= "{{ url_for('static', filename='images/noticia/') }}{{noticia.id}}{{noticia.foto}}" />
                                {% else %}
                                  <img style="height: 350px;width:80%;padding-bottom:20px;" src= "{{ url_for('static', filename='images/noFoto.jpg') }}" />    
                                {% endif %}
                                
                                
                                <input type="file" id="foto"  name="file" class="form-control " maxlength="24">
                              </div>
                            </div>              
                                          
                        <div class="row">
                          <div class="col-md-3">
                            <input type="hidden" value="{{noticia.id}}" name="idNoticia" id="idNoticia">
                          </div>
                          <div class="col-md-6 form-group">
                             <input type="button" onclick="return validateForm()" value="Editar noticia" class="btn btn-info px-3 py-2">
                          </div>
                          <div class="col-md-3">
                         
                          </div>                         
                        </div>
                      </form>
                  </div>
                </div>
            </div>
          </div>
            </div>
          </div>
        </div>
      </div>


      

{% endblock %}

{% block scripts %}
    {{super()}}    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

<script>
       
    function editada(id,nombre){
      $.confirm({
        type:'green',
        title: 'Eliminar noticia',
        content: 'Desea eliminar esta noticia: ' +nombre.toUpperCase() +'? ',
        buttons: {
            Confirmar: function () {
              var ok=true;
              $.ajax({
                url: "{{ url_for('listado_noticias') }}", success: function(result){
                if(result['ok']){
                $.alert({
                  title: 'Mensaje informativo',
                  content:  'Se eliminó la noticia correctamente ' ,
                  type: ('green'),
                });
                }else{
                $.alert({
                  title: 'Error al eliminar',
                  content:  'Ha ocurrido un error al eliminar la noticia ' ,
                  type: ('red'),
                });
              }}});              
            }
        }
    })             
    };

    function validateForm(){
      ok= ''
      if(document.getElementById('titulo').value == ''){ ok ='Debe ingresar un título' }
      if(document.getElementById('descripcion').value == ''){ ok ='Debe ingresar una descripción' }
      if(document.getElementById('fecha').value == 0000-00-00){ ok = 'Debe ingresar una fecha válida' }
      $.confirm({
        type:'green',
        title: 'Guardar cambios',
        content: '¿Desea guardar los cambios realizados?' ,
        buttons: {
            Confirmar: function () {                
              if (ok == ''){document.getElementById("formNoticia").submit();}
              else{
                $.alert({
                  title: 'Error',
                  content: ok,
                  type: 'red',
                 });
              }
            },
            Cancelar: function () {
              null
            },
        }
    })     
    return false
  }
    
  </script>    


{% endblock %}        
