{% extends "tablaLayout.html" %}

{% set encabezado = 'Editar noticia'  %} 

{% block styles %}
    {{ super() }}
{% endblock %}

{% block cuerpo %}
    <!-- Contact Section -->

    <div class="container">
        <!-- Contact Section Form -->
        <div class="row">
          <div class="col-lg-9 mx-auto">
            <div class="card">
            <div style="border-width:2px !important;" class="card-body text-center border border-secondary">

                <div class="row">
                  <div class="col-md-12 mb-4 order-2">
                    <form id='formNoticia' action="{{ url_for('editando_noticia') }}" method="post">
                          <div class="row">
                              <div class="col-md-6 form-group">
                                <label for="titulo">Titulo</label>
                                <input value="{{ noticia.titulo }}" type="text" id="titulo" name="titulo" class="form-control " required maxlength="24">
                              </div>
                              <div class="col-md-6 form-group">
                                <label for="fecha">Fecha</label>
                                <input value="{{ noticia.fecha }}" type="date" id="fecha" name="fecha" class="form-control " required maxlength="24">
                              </div>
                            </div>
                             <div class="row">
                          <div class="col-md-12 form-group">
                            <label for="descripcion">Descripcion</label>
                            <input type="text" class="form-control" name="descripcion" id="descripcion" value="{{ noticia.descripcion }}" rows="3" required></textarea>
                          </div>   
                        </div>
                         <div class="row">
                              <div class="col-md-12 form-group">
                                <label for="foto">Foto</label>
                                <input type="text" value="{{ noticia.foto }}" id="foto" name="foto" class="form-control " maxlength="24">
                              </div>
                            </div>              
                                          
                        <div class="row">
                          <div class="col-md-3">
                            <input type="hidden" value="{{noticia.id}}" name="idNoticia" id="idNoticia">
                          </div>
                          <div class="col-md-6 form-group">
                             <input type="submit" value="Editar noticia" class="btn btn-info px-3 py-2">
                            <input type="reset" value="Cancelar" class="btn btn-primary px-3 py-2">
                          </div>
                          <div class="col-md-3">
                         
                          </div>                         
                        </div>
                      </form>
                  </div>
                </div>
            </div>
          </div>
            </div>
          </div>
        </div>
      </div>


      

{% endblock %}

{% block scripts %}
    {{super()}}    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

<script>
       
    function editada(id,nombre){
      $.confirm({
        type:'green',
        title: 'Eliminar noticia',
        content: 'Desea eliminar esta noticia: ' +nombre.toUpperCase() +'? ',
        buttons: {
            Confirmar: function () {
              var ok=true;
              $.ajax({
                url: "{{ url_for('listado_noticias') }}", success: function(result){
                if(result['ok']){
                $.alert({
                  title: 'Mensaje informativo',
                  content:  'Se elimino la noticia correctamente ' ,
                  type: ('green'),
                });
                }else{
                $.alert({
                  title: 'Error al eliminar',
                  content:  'Ha ocurrido un error al eliminar la noticia ' ,
                  type: ('red'),
                });
              }}});              
            }
        }
    })             
    };
    
  </script>    


{% endblock %}        
