{% extends "tablaLayout.html" %}

{% set encabezado = 'Editar noticia'  %} 

{% block styles %}
    {{ super() }}
{% endblock %}

{% block cuerpo %}
    <!-- Contact Section -->

    <div class="container">
        <!-- Contact Section Form -->
        <div class="row">
          <div class="col-lg-9 mx-auto">
            <div class="card">
            <div style="border-width:2px !important;" class="card-body text-center border border-secondary">
            <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <div class="row">
                  <div class="col-md-12 mb-4 order-2">
                    <form id='formNoticia' action="{{ url_for('editando_noticia') }}" method="post">
                          <div class="row">
                              <div class="col-md-6 form-group">
                                <label for="titulo">Titulo</label>
                                <input value="{{ noticia.titulo }}" type="text" id="titulo" name="titulo" class="form-control " required maxlength="24">
                              </div>
                              <div class="col-md-6 form-group">
                                <label for="fecha">Fecha</label>
                                <input value="{{ noticia.fecha }}" type="text" id="fecha" name="fecha" class="form-control " required maxlength="24">
                              </div>
                            </div>
                             <div class="row">
                          <div class="col-md-12 form-group">
                            <label for="descripcion">Descripcion</label>
                            <input type="text" class="form-control" name="descripcion" id="descripcion" value="{{ noticia.descripcion }}" rows="3" required></textarea>
                          </div>   
                        </div>
                         <div class="row">
                              <div class="col-md-12 form-group">
                                <label for="foto">Fto</label>
                                <input type="text" value="{{ noticia.foto }}" id="foto" name="foto" class="form-control " maxlength="24">
                              </div>
                            </div>              
                                          
                        <div class="row">
                          <div class="col-md-3">
                            <input type="hidden" value="{{noticia.id}}" name="idNoticia" id="idNoticia">
                          </div>
                          <div class="col-md-6 form-group">
                             <input type="submit" value="Editar noticia" class="btn btn-info px-3 py-2">
                            <input type="reset" value="Cancelar" class="btn btn-primary px-3 py-2">
                          </div>
                          <div class="col-md-3">
                         
                          </div>                         
                        </div>
                      </form>
                  </div>
                </div>
            </div>
          </div>
            </div>
          </div>
        </div>
      </div>

    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->

      

{% endblock %}

{% block scripts %}
    {{super()}}    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script>
    function deleteN(id){
        $.confirm({
          type:'red',
          title: 'Eliminar',
          content: 'Desea eliminar la necesidad definitivamente? ',          
          buttons: {
            Confirmar: function () {
              $.ajax({
                url: "{{ url_for('delete_necesidad', id='' ) }}"+id, success: function(result){
                    window.location.href='{{ url_for( 'listado_necesidades') }}'
                }
                });              
            },
            Cancelar: function () {
                null
            },
        }
    })             
    };

    function cumplir(id){
        $.confirm({
          type:'green',
          title: 'Cumplir necesidad',
          content: 'Desea cumplir la necesidad? ',          
          buttons: {
            Confirmar: function () {
              $.ajax({
                url: "{{ url_for('cumplir_necesidad', id='' ) }}"+id, success: function(result){
                    window.location.href='{{ url_for( 'listado_necesidades') }}'
                }
                });              
            },
            Cancelar: function () {
                null
            },
        }
    })             
    };

    </script>
    
{% endblock %}        




function deleteA(id,nombre){
    $.confirm({
      type:'red',
      title: 'Eliminar tipo de necesidad',
      content: 'Eliminar a ' +nombre.toUpperCase() +' de tipo de necesidad? ',
      buttons: {
          Confirmar: function () {
            var ok=true;
            $.ajax({
              url: "{{ url_for('delete_tipo_necesidad', id='' ) }}"+id, success: function(result){
              if(result['ok']){
              $.alert({
                title: 'Mensaje informativo',
                content:  'Se elimino el tipo de necesidad correctamente ' ,
                type: ('green'),
              });
              var elem = document.getElementById(nombre);
              elem.parentNode.removeChild(elem);  
              }else{
              $.alert({
                title: 'Error al eliminar',
                content:  'Debe eliminar las necesidades relacionadas a este tipo primero ' ,
                type: ('red'),
              });
            }}});              
          },
          Cancelar: function () {
              null
          },
      }
  })             
  };

  
</script>