  
{% extends "bootstrap/base.html" %}

{% block title %} {{ encabezado }}{% endblock %}

{% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {{ super() }}
{% endblock %}

  {% block styles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">

        <!-- Theme Style -->
    <link rel="stylesheet" href="static/css/freelancer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">  
  {% endblock %}  
	


{% block content %}
    
  {% block navbar %}
  <body id="page-top">

      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
          <div class="container">
          <a class="navbar-brand js-scroll-trigger" href="#page-top">Comedores</a>
          <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              Menu
              <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
               {% for el in ['Inicio','Nosotros'] %}     
                  <li class="nav-item mx-0 mx-lg-1">
                      <a class="nav-link  px-lg-2 rounded js-scroll-trigger" href="#portfolio">{{ el }}</a>
                  </li>
              {% endfor %}
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="services.html" id="dropdown04" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">Publicaciones</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                  <a class="dropdown-item" href="#">Noticias</a>
                  <a class="dropdown-item" href="#">Eventos</a>
                </div>
              </li>
              {% if  'username' in session %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="services.html" id="dropdown05" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">Hola {{session["username"]}}</a>
                <div class="dropdown-menu" aria-labelledby="dropdown05">
                  <a class="dropdown-item" href="{{ url_for('user_profile' , idUser=me) }}">Mi perfil</a>
                  {% if session['idComedor'] %}
                  <a class="dropdown-item" href="{{ url_for('comedor_profile' , idUser=me) }}">Mi Comedor</a>
                  {% endif %}
                  <a class="dropdown-item" href="{{ url_for('auth_logout') }}">Cerrar sesion</a>
                </div>
                </li>
              {% else %}
              
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="services.html" id="dropdown04" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">Participar</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                  <a class="dropdown-item" href="{{ url_for('altaComedor') }}">Registrar Comedor</a>
                  <a class="dropdown-item" href="{{ url_for('altaUser') }}">Registrar Usuario</a>
                </div>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                  <a class="nav-link px-lg-2 rounded js-scroll-trigger" href="{{url_for('auth_login')}}">Iniciar Sesion</a>
                </li>
              {% endif %}
              {% if session['rol'] == '3' %}
              <li class="nav-item mx-0 mx-lg-1">
                  <a class="nav-link px-lg-2 rounded js-scroll-trigger" href="{{ url_for('panelAdmin') }}">Admin</a>
              </li>                     
              {% endif %}
              </ul>                    
          </div>
          </div>
      </nav>
  {% endblock %}

  {% block plantillaContenido %}
  <div style='background-color: #1abc9c;margin:auto;padding:5%;'>
  <section class=" jumbotron page-section" id="contact"  style='margin:auto;'>
      <div class="container">

      <!-- Contact Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0"> {{ encabezado }} </h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
          </div>
          <div class="divider-custom-line"></div>
      </div>

      <!-- Contenido -->
      {% block cuerpo %}       {% endblock %}

      </div>
  </section>
  </div>
  {% endblock %}


  {% block footer %}
  <!-- Footer -->
  <footer class="footer text-center">
      <div class="container">
      <div class="row">

          <!-- Footer Location -->
          <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Comedores</h4>
          <p class="lead mb-0">2215 John Daniel Drive
              <br>Clark, MO 65243</p>
          </div>

          <!-- Footer Social Icons -->
          <div class="col-lg-3 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Redes sociales</h4>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
              <i class="fab fa-fw fa-facebook-f"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
              <i class="fab fa-fw fa-twitter"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
              <i class="fab fa-fw fa-instagram    "></i>
          </a>
          </div>

          <!-- Footer About Text -->
          <div class="col-lg-4">
          <h4 class="text-uppercase mb-4">Comedores</h4>
          <p class="lead mb-0">Aca iria el Nosotros</p>
          </div>

      </div>
      </div>
  </footer>

  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
      <div class="container">
      <small>Todos los derechos reservados &copy; Comedores 2019</small>
      </div>
  </section>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
      </a>
  </div>

  {% endblock %}

{% endblock %}

{% block scripts %}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    
  <script src="https://kit.fontawesome.com/0d1e8a0e70.js" crossorigin="anonymous"></script>	
{% endblock %}

{% block verificarAlerta %}
  {% with messages = get_flashed_messages() %}
  {% if messages %}
      {% for message in messages %}
        <script>
          $.alert({
            title: 'Mensaje informativo',
            content:  ('{{ message }}') ,
            type: ('green'),
          });
        </script>           

      {% endfor %}
  {% endif %}
  {% endwith %}
{% endblock %}