{% extends "Layout.html" %}
{% if regis %}
    {% set encabezado = 'Listado de Registros de alimentacion de todos los comedores'  %}
{% else %}
    {%set encabezado = 'No hay registros cargados'%}
{% endif %}
{% block styles %}
  <style>
  .btn-info { 
    width: 100%;
}
  </style>
 
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
 {{super()}}
{% endblock %}

{% block cuerpo %}
<div class="container">
        <br>
        {% if regis %}
        <div class="table-responsive">
        <table id="example" class="table table-striped table-bordered table-sm dt-responsive">
          <thead>
            <tr>
              <th class="th-sm">Fecha</th>
              <th class="th-sm">Asistentes</th>
              <th class="th-sm">Horario de Comida</th>
              <th class="th-sm">Alimentos</th>
              <th class="th-sm">Descripcion</th>
              <th class="th-sm">Comedor</th>
              {% if session['rol'] == '3' %}
              <th class="th-sm">Modificar</th>
              <th class="th-sm">Eliminar</th>
              {%endif%}
            </tr>
          </thead>
          <tbody>
            {% for elem in regis %}
            <tr>
              <td>{{elem.fecha}}</td>
              <td>{{elem.asistentes}}</td>
              <td>{{elem.horario_comida}}</td>
              <td>{{', '.join(elem.comidas)}}</td>
              <td>{{elem.observaciones}}</td>
              <td align="center"><button  type="button" class="btn btn-info" onclick="window.location.href='{{ url_for( 'comedor_profile' , idComedor=elem['comedor.id']) }}';">{{elem.nombre}}</button></td>
              {% if session['rol'] == '3' %}
              <td align="center"><button type="button" class="btn btn-info" onclick="window.location.href='{{ url_for( 'edite_registro' , idReg=elem.id) }}';">Modificar</button></td>
              <td align="center"><button type="button" class="btn btn-danger" onclick="window.location.href='{{ url_for( 'delete_registro' , idReg=elem.id, idCom=request.args.get(idComedor)) }}';">Eliminar</button></td>
              {%endif%}
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
        {%endif%}
        </div>
        
  <br>    
{% endblock %}

{% block scripts %}
        {{super()}}
        <script src="static/js/jquery.dataTables.js"></script> 
        <script src="https://cdn.datatables.net/fixedheader/3.1.6/js/dataTables.fixedHeader.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
            
    <script>
      $(document).ready(function() {
        var table = $('#example').DataTable({     
          "language": {
            "zeroRecords": "No hay elementos disponibles",
            "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sSearch":         "Buscar:",
            "oPaginate": {
                    "sFirst":    "Primero",
                    "sLast":     "Último",
                    "sNext":     "Siguiente",
                    "sPrevious": "Anterior"
                }},
          "bLengthChange":false,
        //aca va el valor del paginado
        "lengthMenu": [["{{cant}}"], ["{{cant}}"]],
      })})


    </script>

  
{% block verificarAlerta %}
  {{ super() }}
{% endblock %}

{% endblock %}   







