{% extends "layout.html" %}

{% set encabezado = 'Noticias'  %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
   
{% endblock %}

{% block cuerpo %}

<div class="container">
        <br>
        {% if session['rol'] == '3' %}
           <button   type="button" class="btn btn-info" onclick="window.location.href='{{ url_for( 'alta_noticia' ) }}';">Crear noticia</button>
        {% endif %}
        <hr>
        <div class="table-responsive">
        <select id="select">
          <option>Fecha</option>
          <option>Titulo</option>
        </select>
        
        <table id="example" class="table table-striped table-bordered table-sm dt-responsive" >
          <thead>
            <tr>
                <th class="th-sm" width="5%">Fecha </th>
                <th class="th-sm">Titulo</th>
                <th class="th-sm">Descripcion</th>
                <th class="th-sm" width="30%">Foto</th>
                {% if session['rol'] == '3' %}    
                <th class="th-sm" >Modificar</th>
                <th class="th-sm">Eliminar</th>
                {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for elem in noticias %}
            <tr id="{{elem.id|upper}}" style="background-color: rgb(241, 157, 131);" >
                <td>{{elem.fecha}}</td>
                <td>{{elem.titulo}}</td>
                <td>{{elem.descripcion}}</td>
                <td>
                {% if elem.foto != '' %}
                  <img style="width:90%;height:90%;margin-left:5%;" src= "{{ url_for('static', filename='images/noticia/') }}{{elem.id}}{{elem.foto}}" />
                {% else %}
                  <img style="width:90%;height:90%;margin-left:5%;"  src= "{{ url_for('static', filename='images/noFoto.jpg') }}" />    
                {% endif %}
              </td>
                {% if session['rol'] == '3' %}          
                  <td align="center"><button type="button" class="btn btn-success" onclick="window.location.href='{{ url_for( 'edite_noticia' , idNoticia=elem.id) }}';">Modificar</button></td>
                  <td align="center"><button type="button" class="btn btn-danger" onclick="deleteA('{{elem.id}}','{{ elem.titulo}}')">Eliminar</button></td>
                {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
</div>
        
  <br>    
{% endblock %}

{% block scripts %}
{{super()}}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>    
<script src="static/js/jquery.dataTables.js"></script> 
<script src="https://cdn.datatables.net/fixedheader/3.1.6/js/dataTables.fixedHeader.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
 <script>
       
    function deleteA(id,nombre){
      $.confirm({
        type:'red',
        title: 'Eliminar noticia',
        content: 'Desea eliminar esta noticia: ' +nombre.toUpperCase() +'? ',
        buttons: {
            Confirmar: function () {
              var ok=true;
              $.ajax({
                url: "{{ url_for('delete_noticia', id='' ) }}"+id, success: function(result){
                if(result['ok']){
                $.alert({
                  title: 'Mensaje informativo',
                  content:  'Se elimino la noticia correctamente ' ,
                  type: ('green'),
                });
                var elem = document.getElementById(id);
                elem.parentNode.removeChild(elem);  
                }else{
                $.alert({
                  title: 'Error al eliminar',
                  content:  'Ha ocurrido un error al eliminar la noticia ' ,
                  type: ('red'),
                });
              }}});              
            },
            Cancelar: function () {
                null
            },
        }
    })             
    };

    
  </script>
    <script>
      $(document).ready(function() {
        var table = $('#example').DataTable({     
          "language": {
            "zeroRecords": "No hay elementos disponibles",
            "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sSearch":         "Buscar:",
            "oPaginate": {
                    "sFirst":    "Primero",
                    "sLast":     "Último",
                    "sNext":     "Siguiente",
                    "sPrevious": "Anterior"
                }},        
          "bLengthChange":false,
        //aca va el valor del paginado
        "lengthMenu": [["{{cant}}"], ["{{cant}}"]],
      })


      $('.dataTables_filter input').unbind().bind('keyup click', function() {
        var colIndex = document.querySelector('#select').selectedIndex;
        table.column( colIndex).search( this.value ).draw();
      });
      $('#select').focus(function() {
        document.getElementById('myInput').value = '';
        var colIndex = document.querySelector('#select').selectedIndex;
        table.column( colIndex).search( document.getElementById('myInput').value ).draw();
      });

      })
    </script>     

 {% block verificarAlerta %}
  {{ super() }}
{% endblock %} 

{% endblock %}





