{% extends "tablaLayout.html" %}

{% set encabezado = 'Eventos'  %}

{% block styles %}
    {{ super() }}
{% endblock %}

{% block cuerpo %}

<div class="container">
        <br>
        <div class="table-responsive">
        <select id="select">
          <option>fecha_evento</option>
          <option>titulo</option>
        </select>
          {% if session['rol'] == '3' or session['rol'] == '2' or session['rol'] == '1' or session['rol'] == '0' %}
           <button type="button" class="btn btn-success" onclick="window.location.href='{{ url_for( 'mis_eventos' ) }}';">Mis Eventos</button>
          {% endif %}
        <table id="example" class="table table-striped table-bordered table-sm dt-responsive" >
          <thead>
            <tr>
                <th class="th-sm">Usuario</th>
                <th class="th-sm">Fecha</th>
                <th class="th-sm">Titulo</th>
                <th class="th-sm">Descripcion</th>
                <th class="th-sm">Fecha del evento</th>
                <th class="th-sm">Horario</th>
                {% if session['rol'] == '3' %}    
                <th class="th-sm">Modificar</th>
                <th class="th-sm">Eliminar</th>
                {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for elem in eventos %}
            <tr id="{{elem.id|upper}}" style="background-color: rgb(241, 157, 131);" >
                <td>{{elem.usuario_id}}</td>
                <td>{{elem.fecha}}</td>
                <td>{{elem.titulo}}</td>
                <td>{{elem.descripcion}}</td>
                <td>{{elem.fecha_evento}}</td>
                <td>{{elem.horario}}</td>
              {% if session['rol'] == '3' %}          
                  <td align="center"><button type="button" class="btn btn-success" onclick="window.location.href='{{ url_for( 'edite_evento' , idEvento=elem.id) }}';">Modificar</button></td>
                  <td align="center"><button type="button" class="btn btn-danger" onclick="deleteA('{{elem.id}}','{{ elem.titulo}}')">Eliminar</button></td>
                {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
</div>
        
  <br>    
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>    
{{ super() }}

<script>
       
    function deleteA(id,nombre){
      $.confirm({
        type:'red',
        title: 'Eliminar evento',
        content: 'Desea eliminar este evento: ' +nombre.toUpperCase() +'? ',
        buttons: {
            Confirmar: function () {
              var ok=true;
              $.ajax({
                url: "{{ url_for('delete_evento', id='' ) }}"+id, success: function(result){
                if(result['ok']){
                $.alert({
                  title: 'Mensaje informativo',
                  content:  'Se elimino el evento correctamente ' ,
                  type: ('green'),
                });
                var elem = document.getElementById(id);
                elem.parentNode.removeChild(elem);  
                }else{
                $.alert({
                  title: 'Error al eliminar',
                  content:  'Ha ocurrido un error al eliminar el evento ' ,
                  type: ('red'),
                });
              }}});              
            },
            Cancelar: function () {
                null
            },
        }
    })             
    };
 </script>    
    
 {% block verificarAlerta %}
  {{ super() }}
{% endblock %} 

{% endblock %}





