{% extends "tablaLayout.html" %}

{% set encabezado = 'Panel de Administrador'  %}
{% block title %}{{ encabezado }}{% endblock %}

{% block cuerpo %}

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mr-auto mb-12">
            <h3 class="d-block text-uppercase text-secondary">Estado del sitio</h3>
            <span class="divider my-4"></span>
            <div class="card">
              <div class="card-body text-center border border-secondary">
                
              {% if state == 1 %}
              <div class="alert alert-success" role="alert">
                El sitio se encuentra habilitado  
              </div>              
              <h3>Para deshabilitar el sitio presione Deshabilitar Sitio</h3>
              <button class="btn btn-danger btn-lg" role="button" onclick="confirmarDeshabilitar()">Deshabilitar Sitio</button>

              {% else %}
              <div class="alert alert-danger" role="alert">
                El sitio se encuentra deshabilitado
              </div>

              <h2>Para que esté de nuevo en funcionamiento presione Habilitar Sitio</h2>
              <button class="btn btn-success btn-lg" role="button" onclick="confirmarHabilitar()">Habilitar Sitio</button>                   

              {% endif %}
             </div>
            </div>

          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-12 mr-auto mb-12">
            <h3 class="d-block text-uppercase text-secondary">Cantidad por página</h3>
            <span class="divider my-4"></span>
            <div class="card">
              <div class="card-body text-center border border-secondary">
                  <h2>La cantidad actual de paginado es:</h2>
                  <h2>{{cantPaginado}}</h2>
                  <hr class="border border-secondary">
                  <h2>Cambiar cantidad por página</h2>
                  <div class="container">
                    <div class="row">
                      <div class="col-md-4">
                      </div>                      
                      <div class="col-md-5">
                      <form action="{{ url_for('cambiarCantidad') }}" onsubmit="return validar()" novalidate method="post">
                        <input type="text" id="select" name="select" class="border border-secondary" value="{{cantPaginado}}">    
                      
                        <button type="submit" class="btn btn-success">Cambiar</button>
                      </form>
                      </div>
                      <div class="col-md-3 text-left">
            
                      </div>
                    </div>
                  </div>
             </div>
            </div> 
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-lg-12 mr-auto mb-12">
            <h3 class="d-block text-uppercase text-secondary">Usuarios Deshabilitados</h3>
            <span class="divider my-4"></span>

            <div class="card">
              <div class="card-body text-center border border-secondary">
                <h2>Si desea ver los usuarios deshabilitados o habilitar algún usuario  presione el siguiente botón</h2>
                <button class="btn btn-success btn-lg" onclick="window.location.href='{{ url_for( 'user_activarUsuario') }}';">Usuarios <br> deshabilitados</button>
              </div>
            </div>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-lg-12 mr-auto mb-12">
            <h3 class="d-block text-uppercase text-secondary">Usuarios </h3>
            <span class="divider my-4"></span>

            <div class="card">
              <div class="card-body text-center border border-secondary">
                <h2>Si desea ver los usuarios y ver o eliminar algún usuario  presione el siguiente botón</h2>
                <button class="btn btn-success btn-lg" onclick="window.location.href='{{ url_for( 'user_list') }}';">Usuarios</button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-12 mr-auto mb-12">
            <h3 class="d-block text-uppercase text-secondary">Asignar Roles</h3>
            <span class="divider my-4"></span>

            <div class="card">
              <div class="card-body text-center border border-secondary">
                <h2>Si desea asignar roles a algún usuario  presione el siguiente botón</h2>
                <button class="btn btn-success btn-lg" onclick="window.location.href='{{ url_for( 'asign_rol') }}';">Asignar <br> Roles</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

{% endblock %}

{% block scripts %}
    {{super()}}
        <script src="static/js/panelAdmin.js"></script> 
        <script>
        function confirmarDeshabilitar(){
        $.confirm({
            type:'red',
            title: 'Deshabilitar Sitio',
            content: 'Seguro que desea deshabilitar el sitio?',
            buttons: {
                Confirmar: function () {
                    window.location.href='{{ url_for( 'updateStateSitioDeshabilitar') }}';
                },
                Cancelar: function () {
                    null
                },
            }
        })
      };
        function confirmarHabilitar(){
        $.confirm({
            type:'green',
            title: 'Habilitar Sitio',
            content: 'Seguro que desea habilitar el sitio?',
            buttons: {
                Confirmar: function () {
                    window.location.href='{{ url_for( 'updateStateSitioHabilitar') }}';
                },
                Cancelar: function () {
                    null
                },
            }
        })
      };
</script>

  {% if alertChangeCant %}
       <script>
        $.alert({
            title: 'Cambiar Cantidad',
            content: 'Se cambió la cantidad correctamente!',
            type: 'green',
        });
       </script>   

  {% else %}  
  {% endif %}        

{% endblock %}


