{% extends "layout.html" %}

{% block styles %}
    
 
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
 {{super()}}
{% endblock %}

{% block scripts %}
        {{super()}}
        <script src="static/js/jquery.dataTables.js"></script> 
        <script src="https://cdn.datatables.net/fixedheader/3.1.6/js/dataTables.fixedHeader.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
            
    <script>
      $(document).ready(function() {
        var table = $('#example').DataTable({     
          "language": {
            "zeroRecords": "No hay elementos disponibles",
            "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sSearch":         "Buscar:",
            "oPaginate": {
                    "sFirst":    "Primero",
                    "sLast":     "Último",
                    "sNext":     "Siguiente",
                    "sPrevious": "Anterior"
                }},        
          "bLengthChange":false,
        //aca va el valor del paginado
        "lengthMenu": [["{{cant}}"], ["{{cant}}"]],
          "columns": [
            null,
            null,
            null,
            null,
            null,
            { "orderable": false },
            { "orderable": false },
            { "orderable": false },
          ],
      })


      $('.dataTables_filter input').unbind().bind('keyup click', function() {
        var colIndex = document.querySelector('#select').selectedIndex;
        table.column( colIndex).search( this.value ).draw();
      });
      $('#select').focus(function() {
        document.getElementById('myInput').value = '';
        var colIndex = document.querySelector('#select').selectedIndex;
        table.column( colIndex).search( document.getElementById('myInput').value ).draw();
      });

      })
    </script>
{% endblock %}