{% extends "layout.html" %}

{% set encabezado = 'Perfil usuario' %}


{% block styles %}
{{super()}}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" type="text/css" href="static/css/profile.css">
	
{% endblock %}
  
  {% block cuerpo %}
  <div class="slider-item overlay" data-stellar-background-ratio="0.5"
  style="background-image: url('static/images/fondo.jpeg');">
    <div class="container">
      <div class="row slider-text align-items-center justify-content-center">
        <div class="col-lg-12 text-center col-sm-12 element-animate">
          {# Contenido dentro del carrel #}
          <div class="container emp-profile" style="background-color: darkgray;">
            <form method="post">
                <div class="row">
                    <div class="col-md-10">
                        <div class="profile-head">
                                    <h2 align="left" style="color: black;">
                                        Información de perfil
                                    </h2>
                                    <h3 align="left">{{ user.nombre_u.capitalize() + ' ' + user.apellido.capitalize() }}</h3>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row" align="left">
                                            <div class="col-md-6">
                                                <label><font color="beige" size="+2">Nombre de usuario:</font></label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>
                                                    {# Usuario #}
                                                    {{user.nombre_usuario}}
                                                </p>
                                            </div>
                                        </div>

                                        <div class="row" align="left">
                                            <div class="col-md-6">
                                                <label><font color="beige" size="+2">DNI:</font></label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>
                                                    {# DNI #}
                                                    {{ user.dni }}
                                                </p>
                                            </div>
                                        </div>

                                        <div class="row" align="left">
                                                <div class="col-md-6">
                                                    <label><font color="beige" size="+2">Rol:</font></label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>
                                                        {# Rol #}
                                                        {{ {1: 'docente', 2: 'preceptor', 3: 'administrador'}.get(user.rol) }}
                                                    </p>
                                                </div>
                                            </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Experience</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Expert</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Hourly Rate</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>10$/hr</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Total Projects</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>230</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>English Level</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Expert</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Availability</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>6 months</p>
                                            </div>
                                        </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Your Bio</label><br/>
                                        <p>Your detail description</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>           
          </div>
          {# Fin del contenido dentro del carrel #}
        </div>    
        </div>
      </div>
    </div>
  </div>
  {% endblock %} 

{% block scripts %}
  {{ super() }}
  
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}


