{% extends "tablaLayout.html" %}

{% set encabezado = 'Tipos de Necesidad'  %}

{% block cuerpo %}


    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
<div class="row">
  <div class="col-md-12 mb-4 order-2">
      <div class="row">
        <div class="col-md-6 form-group">
          <input type="text" id="tipo" name="nombre" placeholder="Ingrese el nuevo tipo de necesidad" class="form-control " maxlength="24">
        </div>
        <div class="col-md-6 form-group">
          <input type="button" onclick="create()" class="btn btn-primary px-3 py-2" value="Cargar Tipo de Necesidad">
        </div>
      </div> 
    </div>
  </div>
</div>

<hr>

<div class="container">
        <br>
        <div class="table-responsive">
        <table id="table" class="table table-striped table-bordered table-sm dt-responsive" >
          <thead>
            <tr>
              <th class="th-sm">Nombre</th>
              <th class="th-sm">Eliminar</th>
            </tr>
          </thead>
          <tbody id="tbody">
            {% for elem in alimentos %}
            <tr id="{{elem.nombre|upper}}">
              <td>{{elem.nombre|upper}}</td>
              <td align="center"><button type="button" class="btn btn-danger" onclick="deleteA('{{elem.id}}','{{ elem.nombre}}')">Eliminar</button></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
        </div>
        
  <br> 
  
  
{% endblock %}

{% block scripts %}
 {{super()}}
  <script>
    function create(){
      var tipo = document.getElementById('tipo').value ;
      tipo = tipo.toUpperCase()
      var idBuscado = document.getElementById(tipo);      
      if(tipo === ""){
        $.alert({
          title: 'Error al cargar',
          content:  'Debe ingresar el nombre del tipo de necesidad' ,
          type: ('red'),
        });  
      }else if(idBuscado != null){
        $.alert({
          title: 'Error al cargar',
          content:  'Ya existe un tipo de necesidad con ese nombre' ,
          type: ('red'),
        });
      }
      else{
      $.confirm({
        type:'green',
        title: 'Carga exitosa',
        content: 'Crear un nuevo tipo de necesidad:  ' +tipo ,
        buttons: {
            Confirmar: function () {
              $.ajax({url: "{{ url_for('create_tipo_necesidad', nombre='' ) }}"+tipo, success: function(result){
                $.alert({
                  title: 'Mensaje informativo',
                  content:  'Se creó el tipo de necesidad correctamente ' ,
                  type: ('green'),
                });
                location.reload()               
              }});
            },
            Cancelar: function () {
                null
            },
        }
    })             
    };}
    
    function deleteA(id,nombre){
      $.confirm({
        type:'red',
        title: 'Eliminar tipo de necesidad',
        content: 'Eliminar a ' +nombre.toUpperCase() +' de tipo de necesidad? ',
        buttons: {
            Confirmar: function () {
              var ok=true;
              $.ajax({
                url: "{{ url_for('delete_tipo_necesidad', id='' ) }}"+id, success: function(result){
                if(result['ok']){
                $.alert({
                  title: 'Mensaje informativo',
                  content:  'Se eliminó el tipo de necesidad correctamente ' ,
                  type: ('green'),
                });
                var elem = document.getElementById(nombre);
                elem.parentNode.removeChild(elem);  
                }else{
                $.alert({
                  title: 'Error al eliminar',
                  content:  'Debe eliminar las necesidades relacionadas a este tipo primero ' ,
                  type: ('red'),
                });
              }}});              
            },
            Cancelar: function () {
                null
            },
        }
    })             
    };

    
  </script>      


  {% endblock %}
   





