{% extends "layout.html" %}

{% set encabezado = 'Editar perfil' %}

  {% block cuerpo %}
  
      <!-- Contact Section -->
        <div class="container">
    
          <!-- Contact Section Form -->
          <div class="row">
            <div class="col-lg-9 mx-auto">
              <div class="card">
              <div style="border-width:2px !important;" class="card-body text-center border border-secondary">
              <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                  <div class="row">
                    <div class="col-md-12 mb-4 order-2">
                      <form id='formUser' action="{{ url_for('editando_user') }}" onsubmit="return validateForm()" method="post">
                          <div class="row">
                              <div class="col-md-6 form-group">
                                <label for="name">Nombre</label>
                                <input type="text" value="{{ user.nombre_u }}" id="name" name="nombre" class="form-control " required maxlength="24">
                              </div>
                              <div class="col-md-6 form-group">
                                <label for="phone">Apellido</label>
                                <input type="text" value="{{ user.apellido }}" name="apellido" id="phone" class="form-control " required maxlength="24">
                              </div>
                            </div> 
                        <div class="row">
                           <div class="col-md-6 form-group">
                            <label for="name">Mail</label>
                            <input type="email" value="{{ user.mail_u }}"  name="mail" class="form-control " required maxlength="60">
                          </div>
                          <div class="col-md-6 form-group">
                              <label for="name">Nombre de usuario</label>
                              <input type="text"  name="user" value="{{ user.user_name }}" class="form-control " required  maxlength="24">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                              <label for="name">Contraseña</label>
                              <input type="password" value="{{ user.password }}" name="pass" id="pass" class="form-control " required required minlength="8" maxlength="16">
                            </div>
                            <div class="col-md-6 form-group">
                              <label for="phone">Repetir contraseña</label>
                              <input type="password" id="pass1" value="{{ user.password }}" class="form-control " required required minlength="8" maxlength="16">
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6 form-group">
                            <label for="name">Telefono</label>
                            <input type="number" name="tel" value="{{ user.telefono }}" id="tel" class="form-control " placeholder="Opcional" maxlength="24">
                          </div>
                          <div class="col-md-6 form-group">
                            <label for="phone">Foto</label>
                            <input type="file" name="foto" value="{{ user.foto }}" id="foto" class="form-control-file form-control " placeholder="Opcional">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12 form-group">
                            <label for="name">Descripcion</label>
                            <textarea class="form-control" value="{{ user.descripcion }}" name="desc" id="exampleFormControlTextarea1" rows="3">{{ user.descripcion }}</textarea>
                          </div>   
                        </div>
                          
                                          
                        <div class="row">
                          <div class="col-md-3">
                            <input type="hidden" name='idU' value="{{ session['id'] }}">
                          </div>
                          <div class="col-md-6 form-group">
                            <input type="submit" value="Guardar Cambios" class="btn btn-primary px-3 py-2">
                          </div>
                          <div class="col-md-3">
                            
                          </div>                         
                        </div>
                      </form>
                    
                      
                    </div>
                  </div>
              </div>
            </div>
              </div>
            </div>
          </div>
        </div>
  <br>
    
  {% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
  <script>
    function validateForm() {
      var pass = document.getElementById('pass').value;
      var pass1 = document.getElementById('pass1').value;
      if( pass != pass1){
        $.alert({
          title: 'Error al validar usuario',
          content: 'Las contraseñas introducidas no coinciden!',
          type: 'red',
         });
        return false}
      return true
      }
  </script>

{% endblock %}


