{% extends "tablaLayout.html" %}

{% set encabezado = 'Listado de usuarios'  %}

{% block cuerpo %}

<div class="container">
        <br>
        <div class="table-responsive">
        <select id="select">
          <option>ID</option>
          <option>Nombre</option>
          <option>Apellido</option>
          <option>DNI</option>
          <option>Estado</option>
        </select>
        <table id="example" class="table table-striped table-bordered table-sm dt-responsive" >
          <thead>
            <tr>
              <th class="th-sm">ID</th>
              <th class="th-sm">Nombre</th>
              <th class="th-sm">Apellido</th>
              <th class="th-sm">Nombre usuario</th>
              <th class="th-sm">Mail</th>
              <th class="th-sm">Estado</th>
              <th class="th-sm">Ver perfil</th>
              <th class="th-sm">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            {% for elem in users %}
            <tr>
              <td>{{elem.id}}</td>
              <td>{{elem.nombre_u}}</td>
              <td>{{elem.apellido}}</td>
              <td>{{elem.user_name}}</td>
              <td>{{elem.mail_u}}</td>
              <td>{{elem.estado_u}}</td>
              <td align="center"><button style="width:85px" type="button" class="btn btn-success" onclick="window.location.href='{{ url_for( 'user_profile' , idUser=elem.id) }}';">Ver</button></td>
              <td align="center"><button type="button" class="btn btn-danger" onclick="deleteA('{{elem.id}}','{{elem.nombre_u}}')">Eliminar</button></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
        </div>
        
  <br>    
{% endblock %}

{% block scripts %} 
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>    

 <script>
    function deleteA(idUser,nombre){
      $.confirm({
        type:'red',
        title: 'Eliminar Usuario',
        content: 'Desea eliminar este usuario: ' +nombre.toUpperCase() +'? ',
        buttons: {
            Confirmar: function () {
              var ok=true;
              $.ajax({
                url: "{{ url_for('delete_user', idUser='' ) }}"+idUser, success: function(result){
                if(result['ok']){
                $.alert({
                  title: 'Mensaje informativo',
                  content:  'Se elimino correctamente ' ,
                  type: ('green'),
                });
               
                }else{
                $.alert({
                  title: 'Error al eliminar',
                  content:  'El usuario tiene eventos pendientes y no puede ser eliminado ' ,
                  type: ('red'),
                });
              }}});              
            },
            Cancelar: function () {
                null
            },
        }
    })             
    };
  </script>    

{{super()}} 
{% endblock %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
          <script>
            $.alert({
              title: 'Mensaje informativo',
              content:  ('{{ message }}') ,
              type: ('green'),
            });
          </script>           

        {% endfor %}
    {% endif %}
{% endwith %}    





