{% extends "tablaLayout.html" %}

{% set encabezado = 'Evento'  %} 

{% block styles %}
    {{ super() }}
    <style>
      .line-clamp {
         display: -webkit-box;
         -webkit-box-orient: vertical;
         overflow: hidden;
       }
     </style>
{% endblock %}

{% block cuerpo %}
    <div class="container">
        <section class="col-xs-12 col-sm-6 col-md-12">
              <article class="search-result row">
                <div class="col-xs-12 col-sm-12 col-md-3">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                  <h3>{{evento.titulo}}</h3>
                  <h3>{{evento.fecha}}</h3>
                  <p class="line-clamp">{{evento.descripcion}}</p>
                  {% for elem in evento.links: %}
                    {% if elem[1:5] == "http" %}
                      <a class="line-clamp" href="{{elem}}">{{elem}}</a>
                      <br>
                    {% else %}
                      <h5 class="line-clamp" >{{elem}}</h5> 
                    {% endif %}
               
                  {% endfor %}
                </div>
                
                <span class="clearfix borda"></span>
                <div style="display:flex; justify-content:flex-end; width:100%; padding:0;">
                </div>
              </article>
               <hr>          
              </section>
    </div>
{% endblock %}

{% block scripts %}
    {{super()}}    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">



{% endblock %}        
